@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-ExtraBold.ttf');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-SemiBold.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-LightItalic.ttf');
  font-style: italic;
  font-weight: lighter;
}