// Cores
$primary: #ff1c1c;
$secondary: #ff5656;
$cardTextColor: #CCC;

$gradient: linear-gradient(to top, rgba(255, 28, 28, 0.8), rgba(255, 86, 86, 0.6));

// Espaçamento
$v-gutter-sm: 10px;

$breakpoint: 500px;